.tabBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;

  :global {
    .adm-tab-bar-item-active {
      color: #f74757;
    }

    .adm-tab-bar-item-title {
      font-size: 10px;
      margin-top: 2px;
    }
  }
}
