.wrapper {
  .tips {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.3);
  }

  .box {
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.03),
      inset 0px 2px 0px rgba(250, 200, 46, 0.2);
    border-radius: 9px;
    padding: 0 12px;
    margin: 16px 0;

    .rankingsBg {
      position: absolute;
      left: 0;
    }

    .title {
      display: flex;
      align-items: center;
      height: 38px;
      position: relative;

      .amount {
        display: inline-flex;
        align-items: center;
        width: 40%;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #f74757;

        span {
          margin: 0 2px;
        }
      }

      .rankingName {
        display: inline-flex;
        align-items: center;
        width: 30%;
      }

      .listStatus {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        color: #ffa200;

        &.noInList {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .rankingHead {
      display: flex;
      height: 32px;
      align-items: center;
      gap: 8px;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);

        &:nth-child(1) {
          width: 62%;
        }

        &:nth-child(2) {
          width: 8%;
          text-align: right;
        }

        &:nth-child(3) {
          width: 10%;
          text-align: right;
        }

        &:nth-child(4) {
          width: 20%;
          text-align: right;
        }
      }
    }

    .rankingRow {
      display: flex;
      height: 28px;
      align-items: center;
      gap: 8px;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;

        &:nth-child(1) {
          width: 62%;
          color: rgba(0, 0, 0, 0.8);
        }

        &:nth-child(2) {
          width: 8%;
          text-align: right;
          color: #f74757;
        }

        &:nth-child(3) {
          width: 10%;
          text-align: right;
          color: rgba(0, 0, 0, 0.8);
        }

        &:nth-child(4) {
          width: 20%;
          text-align: right;
          color: rgba(0, 0, 0, 0.8);

          &.received {
            color: #f74757;
          }
        }
      }
    }

    :global {
      .ReactCollapse--collapse {
        transition: height 0.5s;
      }
    }

    .foldBtn {
      display: flex;
      height: 28px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .opened {
        transform: rotate(180deg);
      }
    }
  }

  .disclaimer {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 24px 0;
  }
}
