.detailWrapper {
  padding: 8px 12px;
  background: #fff;
  border-radius: 9px;
  margin: 16px 0;

  .collapse {
    margin-left: 58px;

    .action {
      text-align: right;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.3);

      .arrow {
        margin-left: 5px;
        transition: transform 0.5s;

        &.opened {
          transform: rotate(180deg);
        }
      }
    }

    :global {
      .ReactCollapse--collapse {
        transition: height 0.5s;
      }
    }

    .flowWrapper {
      padding: 8px 0;
      transition: height 0.5s;

      .flow {
        display: flex;
        align-items: center;
        column-gap: 8px;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        .content {
          flex: 1;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.5);
        }

        .time {
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .detail {
    display: flex;
    align-items: center;

    .content {
      flex: 1;
      margin-left: 10px;
    }

    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 2px;
    }

    .time {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.5);
    }

    .amount {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.8);
      font-style: italic;

      &.increase {
        color: #f74757;
      }
    }
  }
}
